
body{
	background-color: #fff;
}
.block1{
	margin-left: 100px;
	margin-top: 60px;
}
#hed{
	background-color: #d12938;
	//height: 300px;
	//position: fixed;
}
#logo{
	margin: 10px;
	width: 80px;
}
.main{
	background-color: #f1f1f1;
}
.footer{
	margin-top:2000px;

	.text{
		display: inline-block;
		margin-left: 20px;
	}
	.icon{
		width: 20px;
		margin: 0px;
	}
	.social{
		margin-top:10px;
	}
	.icon1{
		width: 20px;
	}
}
.main_text{
	color: #fff;
	font-size: 25px;
	padding-top: 29px;
	text-align: center;
}
.discript{
	margin: 40px 30px 0px 30px;
}
h3{
	color:#d12938;
}
.download{
	text-align: center;
	margin-top: 20px;
}
.line{
	height:1px;
	width: 600px;
	margin-top: 20px;
	background-color: #d12938;

}