
body{
//background:url(..//img/red-subtle-brick-wall-v36715.png) no-repaid;
}
.block1{
	//margin-left: 60px;
	//margin-right: 60px;
	margin-top: 60px;
	font-size: 17px;
	background-color: #121212;
	color: #fff;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	}
#hed{
	margin-top: 30px;
	margin-bottom:35px;
	margin-left: 30px;
	//background-color:transparent;
	//height:55px;
	//position: fixed;
}
#logo{
	margin: 10px;
	width: 55px;
}
.main{
	background-color: #edb801;
}
.footer{
	margin-top:50px;
	margin-bottom: 30px;
	background-color: #000;

	.text{
		display: inline-block;
		margin-left: 20px;
		color: #fff;
	}
	.icon{
		width: 20px;
		margin: 0px;
		color: #fff;
	}
	.social{
		margin-top:10px;
		color: #fff;
	}
	.icon1{
		width: 20px;
		color: #fff;
	}
}
.main_text{
	color: #fff;
	font-size: 30px;
	padding-top: 29px;
	text-align: center;
}
.discript{
	margin: 40px 30px 0px 30px;
}
h3{
	color:#d12938;
}
.download{
	text-align: center;
	margin-top: 20px;
}
.line{
	height:1px;
	//width: 1200px;
	margin:50px 50px 30px 50px;
	background-color: #d12938;
	//margin-left:50px;

}
.cont{
	margin: 50px auto 50px 120px;
	font-size: 16px;
}
.name{
	margin: 10px auto 10px auto;
}
.batt1{
background-color: #d12938;
width: 20%;
text-align: center;
padding: 20px;
margin-left: auto;
margin-right: auto;
&:hover{opacity: 0.9;}
a{
	color: #fff;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}
}
.header_text{
	font-size: 100px;
	margin: 100px auto auto 200px;
	letter-spacing: 2px;
	color: #333333;

}
.sm{
	font-size: 16px;
		letter-spacing: 0px;
		color: #313131;
}
.navig{
	//background-color: #333333;
}
.img_box{
background-color: #d12938;
width: 80px;
text-align:center;
}
.t1{
	padding-left: 400px;
}
.nav1{
	margin-top: 40px;
}